.card {
  background: #ddd;
  background: red;
  display: block;
  padding: 12pt;
  padding: 12px;
  grid-template-areas:
    "muf"
    "muf";
  muf: mumuf;
}

.card-body {
  background: #ddd;
  background: red;
  display: block;
}

.block {
  background: #ccc;
  display: flex;
}

.body {

}

.main {
  background: #ddd;
}